body, html {

  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

body {
  background-image: url("sky.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.boite {

  text-align: center;
  margin-bottom: 6%;
  margin-top: 4%;
    font-family: monospace;
}
.name {

  text-align: center;
  font-family: monospace;
  margin-bottom: 6%;
  margin-top: 4%;
  font-size: 40px;
  font-weight: normal;
}


.allumer {
  font-size: 18px;
  text-align: center;
  margin-bottom: 6%;
  margin-top: 4%;
  font-weight: bold;
    font-family: monospace;
}
.zone2 {

  text-align: center;
  justify-content: center;
  margin-bottom: 20%;
  margin-top: 10%;
  margin-left: 0;
  margin-right: 0;

}

#enter {

  text-align: center;
  justify-content: center;
  margin-bottom: 20%;
  margin-top: 10%;
  margin-left: 0;
  margin-right: 0;
}

div.zone2 {

  text-align: center;
  justify-content: center;
  margin-bottom: 20%;
  margin-top: 10%;
  margin-left: 0;
  margin-right: 0;
}


textarea {
  width: 50%;
  font-size: 2em;
  height: 40%;
  justify-content: center;
    font-family: monospace;


   }

div.zone {
    text-align: center;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
      font-family: monospace;

       }

button {
  font-size: 2em;
    font-family: monospace;
}
