
body {
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
    background-color: black;
    position: fixed;
}


.circleWrapper.anim{
    animation: rotation2 1.5s infinite linear;
}
.circleWrapper.anim .circle{
    animation: rotation 1.5s infinite linear;
}


.circle {
  height: 100px;
  width: 50px;
  border-radius: 100%;
  transform: rotate(30deg);
  position: absolute;

}

.circleWrapper{
    transform-origin: center;
    height: 100%;
    /*width: 100%;*/
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
      0%   {background-color: steelblue;}
    10% {background-color: #8a2be2;}
    20%  {background-color: purple;}
    30%  {background-color: #c71585;}
    40% {background-color: red;}
    50%  {background-color: orangered;}
    60%  {background-color: orange;}
    70% {background-color: yellow;}
    80% {background-color: yellowgreen;}
    90% {background-color: green;}
    100% {background-color: #0d98ba;}
}


@keyframes rotation2 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}




.circleWrapper.anim21{
    animation: rotation21 1.5s infinite linear;
}
.circleWrapper.anim .circle21{
    animation: rotation 1.5s infinite linear;
}

.circle21 {
  height: 100px;
  width: 50px;
  border-radius: 100%;
 
  transform: rotate(30deg);
  position: absolute;
}

.circleWrapper21{
  
    transform-origin: center;
    height: 100%;
}

@keyframes rotation21 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
      0%   {background-color: steelblue;}
    10% {background-color: #8a2be2;}
    20%  {background-color: purple;}
    30%  {background-color: #c71585;}
    40% {background-color: red;}
    50%  {background-color: orangered;}
    60%  {background-color: orange;}
    70% {background-color: yellow;}
    80% {background-color: yellowgreen}
    90% {background-color: green}
    100% {background-color: #0d98ba}
}


@keyframes rotation22 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

